@charset "utf-8";

div.tooltiptext {
    display:inline-block;
    position: absolute;
    max-width: 360px;

    padding: 5px 5px;
    margin-left: 0;
    background-color: lightyellow;
    color: black;
    border: solid 1px;

    box-shadow: 2px 2px 2px gray;
    text-align: left;
    border-radius: 6px;
    font-size: medium;

    word-wrap: break-word;
    word-break: break-word; /*word-break: break-all;*/
    overflow-wrap: break-word;
    /*hyphenate-character: auto;*/
    /*hyphens: auto;*/
    -moz-hyphens: auto;
    z-index: 1;

    line-height: 1.0;
}

/* 暂时不实现箭头 */
/*.arrowAbove {*/
    /*content: "";*/
    /*position: absolute;*/
    /*!*top: 100%; 或者 bottom: 100%*!*/
    /*!*left: 经过计算得到;*!*/
    /*border-width: 8px;*/
    /*border-style: solid;*/
    /*border-color: lightyellow transparent transparent transparent;*/
    /*z-index: 1;*/
/*}*/

/*.arrowBelow {*/
    /*content: "";*/
    /*position: absolute;*/
    /*!*top: 100%; 或者 bottom: 100%*!*/
    /*!*left: 经过计算得到;*!*/
    /*margin-left: -1px;*/
    /*border-width: 9px;*/
    /*border-style: solid;*/
    /*border-color: black transparent transparent transparent;*/
/*}*/
