@charset "utf-8";

/* Link Pseudo-Classes: LV, HA (mnemonic: love, hate)*/
a:link {color: #2276E4; text-decoration: none;}
a:visited {color: #2276E4;}
a:hover {text-decoration: underline;}
a:active {color: #00A000;}
a:focus {}

/* 跳到锚点时，高亮文本 */
*:target {background-color: #ffa; -webkit-transition: all 1s linear;}

body {
    /*background-color: #F8F4E7;*/
    /*color: #552800;*/
    max-width: 600px;
    border: 2px solid #552800;
    border-radius: 5px;
    outline: 0 solid #552800;
    padding: 10px 10px 10px 20px;
    margin: 16px auto;
}

/* 行高设置为推荐的 1.6 倍*/
div.content {
    line-height: 1.6;
    margin: 20px auto;
}

div.tooltiptext {
    position: absolute;
    display: inline-block;
    max-width: 360px;

    padding: 5px 5px;
    margin-left: 0;
    background-color: lightyellow;
    color: black;
    border: solid 1px;

    box-shadow: 2px 2px 2px gray;
    text-align: left;
    border-radius: 6px;
    font-size: medium;

    word-wrap: break-word;
    word-break: break-word; /*word-break: break-all;*/
    overflow-wrap: break-word;
    /*hyphenate-character: auto;*/
    /*hyphens: auto;*/
    -moz-hyphens: auto;
    z-index: 1;

    line-height: 1.0;
}

h2 {color: green;}

/* 使得图片有边框，避免四周全白图片和网页正文混为一体 */
img {border: 2px solid black;}

/* table设置边框 */
table, th, td {border: 1px solid black; border-spacing: 0;}

/* cite 设置为小上标样式 small superscript */
.cite a, .small-sup {
    font-size: 70%;
    color: #0E48AA;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap; /* let superscript no line break */
}

.desc {border-bottom: 1px dotted #4484C2;}

/* css实现缩进效果 */
.tab {margin-left: 40px;}

/* 设置tooltiptext的链接为按字符折行 */
.tooltiptext a, #cites a {word-break: break-all; hyphens: none;}
